<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Latitute - Visualization Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="Resources/assets/css/main.css" />
    <style>
        h7{
            margin-left: 115px;
            color: deepskyblue;
            font-weight: 600;
        }
    </style>
</head>

<body class="is-preload homepage">
	<div id="page-wrapper">
	<!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
                <div id="logo">
                    <h1><a href="index.html">Latitute</a></h1>
                </div>

            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <!-- <li class="current"><a href="index.html">Welcome</a></li> -->
                        <li>
                            <a href="index.html">Plots</a>
                            <ul>
                                <li><a href="./Images/Fig1.png">Max Temperature</a></li>
                                <li><a href="./Images/Fig2.png">Humidity</a></li>
                                <li><a href="./Images/Fig3.png">Cloudiness</a></li>
                                <li><a href="./Images/Fig4.png">Wind Speed</a></li>
                            </ul>
                        </li>
                        <li><a href="comparision.html">Comparision</a></li>
                        <li><a href="data.html">Data</a></li>

                    </ul>
                </nav>

        </header>
    </div>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <h2>Comparision: Latitude vs. X</h2>
            <hr>
            <p>Click any plot to get an in-depth analysis.</p>
            <div class="row gtr-50">
                <div class="col-md-5">
                    <h7>vs. Max Temperature</h7>
                    <img id="myImg" class="myImages image_fit" src="./Images/Fig1.png" alt="vs. Max Temperature" />
                </div>
                <div class="col-md-5">
                    <h7>vs. Humidity</h7>
                    <img id="myImg" class="myImages image_fit" src="./Images/Fig2.png" alt="vs. Humidity"/>
                </div>
                <div class="col-md-5">
                    <h7>vs. Cloudiness</h7>
                    <img id="myImg" class="myImages image_fit" src="./Images/Fig3.png" alt=""vs. Cloudiness"" />
                </div>
                <div class="col-md-5">
                    <h7>vs. Wind Speed</h7>
                    <img id="myImg" class="myImages image_fit" src="./Images/Fig4.png" alt="vs. Wind Speed" />
                </div>
                <!-- Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->

    <script src="Resources/assets/js/jquery.min.js"></script>
    <script src="Resources/assets/js/jquery.dropotron.min.js"></script>
    <script src="Resources/assets/js/browser.min.js"></script>
    <script src="Resources/assets/js/breakpoints.min.js"></script>
    <script src="Resources/assets/js/util.js"></script>
    <script src="Resources/assets/js/main.js"></script>

    <!--Modal script-->
    <script>
        // create references to the modal...
        var modal = document.getElementById('myModal');
        // to all images -- note I'm using a class!
        var images = document.getElementsByClassName('myImages');
        // the image in the modal
        var modalImg = document.getElementById("img01");
        // and the caption in the modal
        var captionText = document.getElementById("caption");

        // Go through all of the images with our custom class
        for (var i = 0; i < images.length; i++) {
            var img = images[i];
            // and attach our click listener for this image.
            img.onclick = function(evt) {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            }
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
        modal.style.display = "none";
        }
    </script>
</body>
</html>