<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>

    <!-- integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/> -->
    <!-- Plugins CSS  -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/jquery-ui.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css.map')}}"> -->

    <title>Population Growth Prediction</title>

</head>
<body>
    <div id="mapdiv" class="col-md-12"></div>

    <!-- Leaflet JavaScript -->
    <script src="{{url_for('static', filename ='plugins/leaflet-src.js')}}"></script>

    <!-- <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script> -->
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- d3 JavaScript -->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <!-- JQuery JS -->
    <script src="{{url_for('static', filename='plugins/jquery-3.2.0.min.js')}}"></script>
    <!-- Leaflet-Choropleth JavaScript -->
    <!-- <script type="text/javascript" src="../static/js/choropleth.js"></script> -->

    <!-- Plugins -->

    <!-- src="{{url_for('static', filename='plugins/leaflet-providers.js')}}" -->
    <script src="{{url_for('static', filename='plugins/leaflet-providers.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/leaflet.ajax.min.js')}}"></script>
    <!-- <script type="text/javascript" src="../static/plugins/leaflet-heat.js"></script> -->
    <script type="text/javascript" src="{{url_for('static', filename='plugins/jquery-ui.min.js')}}"></script>
    <script>
        var popuMap;
        var lyrStamen;

        // $(document).ready(function(){
            popuMap = L.map('mapdiv', {center:[], zoom:11, attributionControl: false});

            lyrStamen = L.titleLayer.provider('OpenStreetMap.Mapnik').addTo(popuMap);
            L.geoJSON.ajax('../static/data/lga_boundary.geojson', {style: stylePopulation,
                            onEachFeature: processPopuLga}).addTo(popuMap);

        // });

    </script>

</body>
</html>