<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        var boxes = [];
    </script>

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />

        <div id='TextBoxesGroup'>
        <div id="TextBoxDiv1">
            <label>Name #1 : </label><input type='textbox' id='textbox1' name ='mytext'>
        </div>
        </div>
        <input type='button' value='Add Name' id='addButton'>
        <input type='button' value='Remove Name' id='removeButton'>

        <input type="submit" value="Submit" id='submit'>
    </form>

    <script type="text/javascript" src="{{url_for('static', filename='js/tesing.js')}}"></script>


</body>
</html>